# Object files
*.o
*.ko
*.elf
*.vs
# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
Debug/
# Debug files
*.dSYM/
Debug/vc141.pdb
*.pdb
*.idb
*.ipch
*.pdb
*.log
*.log
/Debug/
*.pdb
*.ilk
*.opendb
..sln
.VC
MANAGER.ipch
pch
*.ipch
*.ipch
pch
*.db
*.tlog
/Debug
*.idb
*.pdb
*.idb
*.pdb
/Release
/x64
/render/build
